body {
    background-color: #f4f4f4;
}

.list-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    position: relative;
    width: 100%;
    height: 300px;
}

.product-image .img-back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image:hover .img-front {
    display: none;
}

.product-image:hover .img-back {
    display: block;
}

.product-text {
    padding: 15px;
}

.product-text h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.product-text p {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
}

.add-to-cart-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.product-card:hover .add-to-cart-btn {
    opacity: 1;
}

.slideshow-container {
    width: 100%;
    /* Chiếm 100% chiều rộng cha */
    max-width: 100%;
    /* Không vượt quá khung cha */
    overflow: hidden;
    /* Ẩn phần tràn (nếu có) */
    height: 80%;
}

.slideshow-container img {
    width: 100%;
    /* Ảnh chiếm đủ 100% chiều rộng của div */
    height: auto;
    /* Tự động tính chiều cao giữ đúng tỷ lệ */
    display: block;
    /* Loại bỏ khoảng trắng dư bên dưới ảnh */
}